---
BasedOnStyle: LLVM
AccessModifierOffset: "-2"
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: "true"
AlignConsecutiveAssignments: "true"
AlignConsecutiveDeclarations: "true"
AlignEscapedNewlines: Right
AlignOperands: "true"
AlignTrailingComments: "true"
AllowShortBlocksOnASingleLine: "true"
AllowShortCaseLabelsOnASingleLine: "true"
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: "true"
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: "false"
BinPackArguments: "false"
BinPackParameters: "false"
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: "true"
BreakStringLiterals: "true"
ColumnLimit: "80"
IndentCaseLabels: "true"
IndentWidth: "4"
Language: Cpp
PointerAlignment: Left
SortUsingDeclarations: "true"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: "true"
Standard: Auto
